@import "~cssIncludes/settings";

$button-padding: 20px 40px;
$button-min-width: 200px;

.button, button {
	min-width: $button-min-width;
	transition: $default-transition-length;
	display: inline-block;
	padding: $button-padding;
	background-color: $color-blue;
	color: #fff;
	border-radius: 100px;
	
	&:hover {
		background-color: darken($color-blue, 8%);
	}
}