footer.footer-1{
    background-color: #454545;
    ul {
        li, a {
            color: #edf14b;
            text-decoration: none;
            &:hover {
                color: #f7f7f7;
                text-decoration: underline;
            }
        }
    }
    
    overflow: hidden; // waarom wordt de footer hierdoor groter??
}