include /includes/mixins.pug

doctype html
html
	head
		title= pageTitle
		script(type='text/javascript').
			console.log("Pug!");
		include /includes/meta.pug
		link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
	body
		ul#slide-out.side-nav
			li
				.user-view
					.background
						img(src="http://materializecss.com/images/office.jpg")
					a(href='#!user')
						img.circle(src=require('../img/pug.png'))
					a(href='#!name')
						span.white-text.name John Doe
					a(href='#!email')
						span.white-text.email jdandturk@gmail.com
			li
				a(href='#!')
					i.material-icons cloud
					| First Link With Icon
			li
				a(href='#!') Second Link
			li
				.divider
			li
				a.subheader Subheader
			li
				a.waves-effect(href='#!') Third Link With Waves
		.container
			.row
				.col.s12.m6
					<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
					.card.blue-grey.darken-1
						.card-content.white-text
							span.card-title
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque illum sapiente ipsum non aperiam vel, ab hic quasi aspernatur consectetur omnis sint accusantium possimus dolorum dicta distinctio similique quas fugit?
						.card-action
							a(href="#") Link
							a(href="#") Link
					script(type="text/javascript").
						console.log("Not sure if I want to keep it like this, but right now any JavaScript initializations need to be imported to/written in main.js");
			//- 			include /includes/footer-placeholder.pug
			//- include /components/footer.pug
