doctype html
html
    head
        title= pageTitle
        
        script(type='text/javascript').
            if (foo) bar(1 + 5)
    body
        include /components/nav.pug
        h1 Pug - node template engine
        #container.col
            if youAreUsingPug
                p You are amazing
            else
                p Get on it!
            p.
                Pug is a terse and simple templating language with a
                strong focus on performance and powerful features.
            a(href="/test.html") Test punt ha tee em el
            h2 hello
            h3 dab on them haters
        

        