<html>
<head>
<title>webpack 3 demo</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<body>
    <nav></nav>
    <div class="container">
        <section>
            <div class="background-color-light-grey padding-top-large padding-bottom">
                <div class="row">
                    <div class="column s12">
                        <h1>Webpack Test</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, 
                            impedit similique aperiam tempore numquam fuga et esse laboriosam 
                            suscipit velit, accusamus deleniti veritatis exercitationem error 
                            dolorum architecto non voluptatum recusandae!
                        </p>
                        <img src="../img/webpack.png">
                    </div>
                </div>
            </div>            
        </section>
    </div>
    <footer></footer>
</body>
</html>