footer.footer-1.padding-top
    .container
        .row
            .column.s12
                ul
                    each val in ["index", "test", 3, 4, 5]
                        li: a(href=val+".html")= val 