nav.main-nav
	.nav-inner
		a(href="/").header-logo
			img(src=require("../../img/PlaceholderLogo.jpg"), alt="Logo")
		.burger-wrapper
			.burger
		.menu-wrapper
			ul
				li.nav-has-dropdown
					.link-wrapper
						a(href="#") dropdown!
					ul.dropdown-content
						li
							a(href="#") drop 1 looooooooooooong
						li
							a(href="#") drop 2 looooooooooooong
						li
							a(href="#") drop 3 looooooooooooong
				li.nav-has-dropdown
					.link-wrapper: a(href="#") dropdown columns!
					ul.dropdown-content
						.dropdown-column
							h4 Column title
							ul
								li: a(href="#") drop 1
								li: a(href="#") drop 2
								li: a(href="#") drop 3
						.dropdown-column
							h4 Column title
							ul
								li: a(href="#") drop 1
								li: a(href="#") drop 2
								li: a(href="#") drop 3				
				li
					.link-wrapper: a(href="index.html") home
				li
					.link-wrapper: a(href="test.html") test
	.hamburger-content
		ul
			li.menu-photo asdasd
			li asds
			li asdsad
