// BREAKPOINTS

$small-only: "(max-width: 39.9375em)";
$small: "(max-width: 39.9375em)";
$medium: "(min-width: 40em)";
$medium-only: "(min-width: 40em) and (max-width: 63.9375em)";
$medium-and-up: "(min-width: 40em)";
$large-only: "(min-width: 63.9375em) and (max-width: 74.9375em)";
$large-and-up: "(min-width: 63.9375em)";
$xlarge-only: "(min-width:  74.9375em)";

$breakpoints: ( s: $small, 
                m: $medium,
                l: $large-only,
                xl: $xlarge-only);

// GRID SETTINGS

$column-amount: 12;
$max-grid-width: 1200px;
$row-width: 90%;

// OTHER SETTINGS

$default-transition-length: 0.3s;

// fonts
// $fonts: "open-sans", sans-serif, arial;
$fonts: "open-sans", sans-serif, arial;
