html {
  font-family: $fonts;
}
// HEADINGS
$h1-fz-small: 3rem;
$h2-fz-small: 1.6rem;
$h3-fz-small: 1.1rem;
$h4-fz-small: 1rem;
$h5-fz-small: 1rem;

$heading-margin-bottom: .4rem;
$text-margin-bottom: 1.2rem;
$default-font-size: 1rem;
$default-font-size: 16px;
$line-height: 24px;


h1,.h1, h2,.h2, h3,.h3, h4,.h4, h5,.h5 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: $heading-margin-bottom;
}
ul, ol, p {
  margin-top: 0;
  margin-bottom: $text-margin-bottom;
}
h1 {
  font-size: $h1-fz-small;
}
h2 {
  font-size: $h2-fz-small;
}
h3 {
	font-size: $h3-fz-small;
}
h4 {
	font-size: $h4-fz-small;
}
h5 {
	font-size: $h5-fz-small;
}
p, ul, ol {
  font-size: $default-font-size;
	line-height: $line-height;
}
ul {
	li {
		margin-bottom: .6rem;
	}
}
ul, ol, p, ul, li {

}
.text-center {
  text-align: center;
}